@import "tailwindcss";
:root {
  --background-color: #111111;
}

body {
  font-family: var(--font-almarai);
  background-color: var(--background-color);
}

.line {
  transform: translateY(100%);
  will-change: transform;
}

.section__container {
  @apply w-[90%] mx-auto;
}

.point__head {
  @apply w-2/6 text-[1.4rem] text-white uppercase;
}
.point__note {
  @apply w-4/6 text-end text-white/50 text-[1.6rem] leading-[2rem];
}
